#chat-list {
    margin-bottom: 3rem;
}

.chat-list-item>* {
    margin: 0.3rem;
    text-decoration: none;
    color: black;
    align-self: center;
}

.chat-list-item>a.active {
    font-weight: bold;
    text-decoration: underline;
}

.chat-list-item>*:hover {
    text-decoration: underline;
}

.chat-list-item > button {
    background-color: transparent;
    border: none;
}

.chat-list-item > button:hover {
    background-color: lightgray;
}