nav {
    flex-basis: 8rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    box-shadow: 2px 0px 3px gray;
    z-index: 999;
}

nav>div:last-child {
    display: flex;
    gap: 5rem;
    height: 100%;
}

.nav-links a {
    text-decoration: none;
    color: black;
    align-self: center;
}

.nav-links a.active {
    font-weight: bold;
    text-decoration: underline;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links > button {
    align-self: center;
    height: 4rem;
}